.votetopiccontainer {
    width: 1200px;
    height: 300px;
    border: 2px solid grey;
    background: #151a1f;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: -140px;
}