.root {
  color: inherit;
  text-decoration: none;
  /* opacity: 0.5; */
  transition: opacity 0.2s ease-out;
}
.root:hover {
  color: inherit;
  /* text-decoration: underline; */
  opacity: 1;
}
.root:active,
.root:focus {
  color: inherit;
}
