.achievepage {
    width: 100%;
    height: 92.5vh;
    color: white;
    display: flex;
    top: 20px;
    position: relative;
}

.achievpagenav {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    position: relative;
    background-color: white;
}

.achievpagenavoption {
    padding: 25px;
    padding-top: 35px;
    margin-left: -1150px;
    background: none;
    border: none;
    width: 30%;
    color: white;
    text-align: left;
}

.achievpagenavoption:hover {
    color: #47AAC4;
}

.achievupchart {
    width: 10%;
    //bottom: 283px;
    //right: 150px;
    height: auto;
    display: flex;
    position: relative;
    padding-right: 20px;
}

.achievuparrow {
    //bottom: 284px;
    //right: -20px;
    width: 10%;
    height: auto;
    position: relative;
    padding-right: 20px;
}

.achievheadersearch {
    background-color:#151a1f;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: 25%;
    height: 45px;
    display: flex;
    position: sticky;
    top: 20px;
    right: 270px;
}

.achievsearchlist {
    background: #151a1f;
    position: absolute;
    top: 45px;
    left: 10px;
    color: white;
    width: 100%;
    border-radius: 10px;
    list-style-type: none;
}

.progressbar {
    display: flex;
    align-items: center;
    

}