.reportbugpage {
    width: 100%;
    height: 90vh;
    color: white;
}

.reportbugcontent {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    padding-left: 50px;
}

.reportabugtitle {
    padding-top: 10px;
}

.reportabugsubtitle {
    padding-top: 10px;
    font-size: 13px;
}

.reportabugemailsubtitle {
    padding-top: 15px;
}

reportabugtextsubtitle {
    padding-top: 10px;
}

.reportbugemailbox {
    width: 25%;
    background:#151a1f;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
}

.reportbugtextbox {
    width: 50%;
    height: 150px;
    background:#151a1f;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
}