.tutorial-container {
    width: 25%;
    height: auto;
    display: flex;
    z-index: 20;
    position: sticky;
}

.tutorial-list {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
}

.tutorial-list-item-head {
    padding-bottom: 25px;
}

.tutorial-list-item {
    padding-bottom: 20px;
    position: relative;
    float: left;
}

.emptystar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 90px;
}

.emptystar-size {
    width: 75%;
    height: auto;
    padding-bottom: 18px;
}