.trophycontainer {
    background-color: #151a1f;
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    width: 25%;
    height: auto;
    color: white;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 82px;
    z-index: 20;
    position: sticky;
}

.trophyfigure {
    padding-right: 30px;
    padding-top: 15px;
    padding-left: 10px;
}