.donatebtn {
    color: white;
    background: none;
    border: solid white 1px;
    border-radius: 50px;
    padding: 15px;
    width: 170px;
}
.donatebtn:hover {
    color: black;
    background: white;
}

.supportbtn {
    color: white;
    background: none;
    border: solid white 1px;
    border-radius: 50px;
    padding: 10px;
    width: 170px;
}
.supportbtn:hover {
    color: black;
    background: white;
}

.btncontainer {
    display: flex;
    margin-left: 50px;
    column-gap: 40px;
    margin-top: 60px;
}