.otherprofilebackground {
  background-image: url("~/assets/otherbackground.svg");
  background-size: cover;
  z-index: 10;
}

.usersummary {
  width: 25%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.usersummarydetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-top: 70px;
  color: white;
  position: relative;
  position: sticky;
  top: 0;
}

.usersumdetailname {
  font-size: 40px;
}

.usersumdetailtitle {
  font-size: 20px;
}

.usersumitemgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 40px;
  font-size: 20px;
}

.usersumdetailitem {
  padding: 7px;
  position: relative;
}

.usersumdetailitem1 {
  padding-top: 7px;
  padding-left: -5px;
  position: relative;
}

.othersumdetailfollow {
  padding-left: 20px;
  padding-bottom: 5px;
  position: relative;
  background: none;
  border: none;
  color: white;
}
.othersumdetailfollow:hover {
  color: aqua;
  cursor: pointer;
}

.othersumdetailmessage {
  padding-top: -5px;
  padding-left: 20px;
  position: relative;
  background: none;
  border: none;
  color: white;
}
.othersumdetailmessage:hover {
  color: aqua;
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: auto;
  z-index: -1;
  display: flex;
  position: relative;
  padding: 0px;
  margin-left: 160px;
  top: 30px;
  left: 10px;
  border: none;
  border-radius: 6px;
  color: lightblue;
}

.modal1 {
  background: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: auto;
  display: flex;
  position: relative;
  float: right;
  padding: 0px;
  right: 70%;
  top: 8%;
  border-radius: 6px;
  border: none;
  color: lightblue;
}
.editButton {
  opacity: 0;
  pointer-events: none;
}
