.contentprefcontainer {
    background-color: #151a1f;
    color: white;
    width: 400%;
    height: 6vh;
    border-radius: 25px;
    border: 2px solid white;
    align-content: center;
    padding-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.contentprefoption {
    background-color: #151a1f;
    color: white;
}